@import (less) "../../layout/main/Main.module.less";

.listTasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.emptyMessage {
  text-transform: capitalize;
  font-weight: lighter;
  word-spacing: 3px;
  letter-spacing: 0.015em;
  &:after {
    content: "->";
    cursor: pointer;
  }
}

@media @desctop-media {
  .listTasks {
    align-items: center;
    max-width: 90%;
  }
}
